@{
    ViewBag.Title = "Home Page";
}

<div class="Home">
    <h1>GeForce Racing Crew</h1>
    <p class="lead">GeForce ta bati bai ku hooopi G-FORCE !</p>
    <p><a href="http://localhost:59045/Motorcycles" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting to know Us</h2>
        <p>
            Geforce Racing Crew, is an All antilian made crew for racing. we fixup motorcycles, cars, engines, trucks everything that has an engine.
            and put them for show.
            We specialize in Fever: High RPM'S, High rubber temperatures High risks ! we burnout, drift, wheelie and make the crowd go loud. 
            Drag racing : 600, 1000, 1300 nothing is enough. Where there is a drag-strip, Geforce is running 1\4 miles
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Speed</h2>
        <p>You can find us on All sorts of bikes, riding all sorts of engine displacements, with all kinds of setups differing from ECU to Carburators</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Parties/Events</h2>
        <p>You can easily find more info about us on</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>